.card {
  margin-bottom: 30px;
  display: "flex";

  border-radius: "30px";
}

.hero-img {
  margin-left: 20px;
  // width: 100%;
}

.css-0{
  // width: 50%;
}

.css-zj31og{
  width: 70% !important;
}